<div class="container">
    <div class="h3">Ooops, looks like you are not authorized to view this page</div>
    <div>Would you prefer to <a asp-controller="Gallery" asp-action="Logout">Login as some one else?</a> </div>
</div>